<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    GO
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="/users/new">Register</a></li>
    <li><a href="/login">Log In</a></li>
  </ul>
</div>


<div class="circle">Grrrl</div>


  <div class="row">
    <div class="col-xs-12 description" >
      <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam imperdiet arcu eu sem semper accumsan. Curabitur orci dui, dignissim sed tristique in, convallis in enim.  </h1>
    </div>
  </div>


<div class="container">
<div class="row pics">
<img src="http://sneakerkat.connectivemkt.netdna-cdn.com/wp-content/uploads/2015/12/72542-thumb.jpg" alt="" />
<img src="http://www.designsnext.com/wp-content/uploads/2014/01/lip-gloss.jpg" alt="" />
</div>
</div>
