<div class="heading">
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    GO
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="/users/new">Register</a></li>
    <li><a href="/login">Log In</a></li>
  </ul>
</div>
</div>

<div class="circle">Grrrl</div>


  <div class="row">
    <div class="col-xs-12 description" >
      <h1> Reviews of products and services that girls care about.<br>  Written by feminists, for feminists. </h1>
    </div>
  </div>


<div class="row">

<img src="https://pixel.nymag.com/imgs/fashion/daily/2016/07/29/pink/29-pink-lede.w710.h473.2x.jpg" alt="" />

</div>
