<div class="tophome">

  <%= bootstrap_form_tag url: '/login' do |f| %>
    <%= f.email_field :email, hide_label: true, placeholder: "Email" %>
    <%= f.password_field :password, hide_label: true, placeholder: "Password" %>
    <%= f.submit "Login" %>
  <% end %>


<div class="circle">Grrrl</div>
</div>

  <div class="row">
    <div class="col-xs-12 description" >
      <h1> Reviews of products and services that girls care about.<br>  Written by feminists, for feminists. </h1>
    </div>
  </div>


<div class="row">
<a class="register btn-lg btn-info" role="button" href="/users/new">Get Started</a>
<img id="homepageimage" src="http://a4.files.fashionista.com/image/upload/c_fit,cs_srgb,dpr_1.0,h_1200,q_80,w_1200/MTQwNzI1OTAxMzM4ODc5Nzg3.jpg" alt="" />

</div>
