<h1>Top Posts</h1>

<a id="create" href="/posts/new">Create New Post</a>


<div class="post-photos">
  <% @posts.each do |post| %>
  <a class="post-a" href="/posts/<%=post.id%>">
    <figure>
      <%=image_tag post.img_url, :size => "300x240", :crop => :crop%>
      <figcaption>
        <%= post.title.upcase %>
      </figcaption>
    </figure>
  </a>
  <%end%>
</div>
